@page
@model Login_Session.Pages.AdminPages.ViewExercisesModel
@{
    ViewData["Title"] = "View Exercise";
}

<h1>:: View Exercises ::</h1>
<br />
<br />

<div>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Exercise Name</th>
                <th>Number/Time of Reps</th>
                <th>Number of Sets</th>
                <th>Exercise Description</th>
                <th>Exercise Area</th>
            </tr>
        </thead>

        @for (int i = 0; i < Model.Exercise.Count; i++)
        {
            <tr>
                <td>@Model.Exercise[i].ExerciseName</td>
                <td>@Model.Exercise[i].RepNoTime</td>
                <td>@Model.Exercise[i].SetNo</td>
                <td>@Model.Exercise[i].ExerciseDescription</td>
                <td>@Model.Exercise[i].ExerciseArea</td>

            </tr>
        }


    </table>
</div>

<div>
    <p><a target="_blank" asp-route-pdf="1">PDF Report</a></p>
</div>

<div>
    <p><a asp-page="/Exercises/Add">Add New Exercise</a></p>
</div>

<div>
    <p><a asp-page="/AdminPages/DeleteExercises">Delete Exercises</a></p>
</div>

<div>
    <p><a asp-page="/AdminPages/AdminIndex">Back to Main Admin</a></p>
</div>
